:root{

  // couleur de base
  --color-white:#fff;
  --color-black:#000;


  // couleur du projet
  --color-link: #20C4A;
  --color-link-visited:#8B8B97 ;
  --color-link-hover:#E53847 ;
  --color-link-active: #38e5e5;
  --color-link-focus: #38a0e5;

  --color-bg-primary:#FFF;
  --color-bg-secondary: #F0F0F0;
  --color-bg-tertiary: #202C4A;

  --color-text-primary:#000000 ;
  --color-text-secondary: #fff;

  --color-gradient: linear-gradient(#62BDFC,#8490FF) ;


}